*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
/* navbar  */

nav{
    background-color: #FD8639;
    width: 95%;
    margin: auto;
    display: flex;
    padding: 10px 10px;
    justify-content:space-between;
    align-items: center;
    /* margin-top: ; */
    border-radius: 10px;
    margin-top: 5px;
    
}
ol{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}
ol img{
    height: 30px;
}
ol li:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

/* part1 */
#part1{
    width: 100%;
    height: 50vh;
    background: url("media/bg2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
}
#part1 div{
    width: 60%;
    padding-top: 100px;
    /* border: 2px solid red; */
    height: 200px;
    text-align: center;
    justify-content: space-between;
    /* height: fit-content; */
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    margin: auto;
}
#part1 h1{
    font-style: italic;
    font-weight: 700;
    letter-spacing: 5px;
}
#part1 span{
    font-size: 50px;
    color: #FD8639;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
    font-family: 'Bungee Spice', sans-serif;
    /* tex */
}
#part2{
    height: 80vh;

}
#part2 video{
    width: 100%;
    /* width: max-content; */
    height: 80vh;
    padding: 0px;
    /* border: 2px solid red; */
}
/* part3 */
#part3 div{
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    color: #000;
    display: flex;
    margin: auto;
    background: url("./media/v331batch2-nunny-05b-leafbackground.jpg");
    width: 100%;
    height: 40vh;
    /* border: 2px solid black; */
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}
#part3 aside{
    background-color: #FD8639;
    border: 2px solid black;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 70%;
    align-items: center;
    /* margin: auto; */
    padding: 10px;
    margin-bottom: 40px;
    height: fit-content;
}
#part3 h1{
    
    display: flex;
    margin: auto;
    animation: blink 1s linear infinite;
    font-weight: 1000;
    letter-spacing: 5px;
}
@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }
@media screen and (max-width:992px){
#part3 div{
    padding-top: 60px;
}    
}

@media screen and (max-width:768px) {
#part2{
    height: 30vh;
    
}
#part2 video{
    height: 30vh;
}
    
}